@import url('https://fonts.goggleapis.com/css2?family=poppins:weight@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'poppins', sans-serif;
}  
html {
    box-sizing: border-box;
}
body {
    background-image: url(./piotr-laskawski-gL7oJLJOb_I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/*---------------------------------------------------*/
/*THE INTRO TO THE GAME*/
/*---------------------------------------------------*/
.moved {
    margin-top: 10%;
    margin-left: 10%;
}
.get {
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: hsl(180, 33%, 4%);
    color: lightcyan;
    box-shadow: 0 15rem 10rem rgba(14, 2, 2, 0.3);
    border-radius: 3mm;
    border: none;
}
.get:hover,
.get:active {
    background-color: lightcyan;
    color: hsl(180, 33%, 4%);  
    border: none;
}
.name {
    line-height: 1;
  align-items: center;
  color: white; 
}
#word,
#scrabble,
#game {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
}
#word { margin-left: -18%;   }
#scrabble{  margin-left: -2%;}
#game { margin-left: 50%;  }


/*---------------------------------------------------*/
/*THE SIGNUP FORM*/
/*---------------------------------------------------*/
.form {
    width: 500px;
    padding: 40px 20px 40px 20px;
    border-radius: 4mm;
    background-color: rgb(247, 249, 249);
}
.space{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 0.5rem;
    margin-top: 5%;
} 
.spaces {
    display: flex;
}
input {
  margin-left: 2%;
  width: 80%;
  padding: 2px;
  height: 45px;
  border-radius: 2mm;
  border: 1px solid #ccc;
}
#personal {
    font-size: 30px;
    color: hsl(180, 33%, 4%);
    font-family:Arial, Helvetica, sans-serif;
}
#text {
    font-size: 16px;
    font-weight: 80;
    color: hsl(228, 100%, 84%);
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.labels {
    font-size: 13px;
    font-weight: 545;
    color:  rgb(0, 0, 0);
}
.fill {
    color: hsl(354, 84%, 57%);
    font-size: 12px;
}
.next {
    text-decoration: none;
    font-size: 18px;
}

/*---------------------------------------------------*/
/*THE RULES OF THE GAME*/
/*---------------------------------------------------*/
.info_box,
.theview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    background: #fff;
    border-radius: 5px;
}
.info_box .info_title {
    height: 60px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
   padding: 0 35px;
   font-size: 20px;
   font-weight: 700;
}
.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}
.buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}
.buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 550;
}
.buttons button.quit {
    color: #007bff;
}
.buttons button.quit:hover,
.buttons button.quit:active { 
    background-color: #007bff;
    color: #fff;
}
.buttons button.continue {
    color: #fff;
    background-color: #007bff;
}




/*---------------------------------------------------*/
/*THE GAME*/
/*---------------------------------------------------*/
.container {
    width: 450px;
    border-radius: 7px;
    background: #f8f9fa;
    transition: transform 1s, opacity 1s;
}
.move {
    position: absolute;
    margin-top: -35%;
}
.sign {
    width: 50%;
}
.blow {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f9fa;
    padding-left: 28px;
    font-size: 18px;
}
.blow:hover,
.blow:active {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.back {
    padding-right: 900px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.container h2 {
    font-size: 25px;
    font-weight: 550;
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}
.container .content {
    margin: 25px 20px 35px;
}
.content  .word {
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 24px;
    margin-right: -24px;
}
.content .details {
    margin: 25px 0 20px;
}
.details p{
    font-size: 18px;
    margin-bottom: 10px;
}
.details p b{
    font-weight: 500;
}
input[type='text'] {
    outline: none;
    width: 100%;
    padding: 12px 10px 12px 10px;
    font-size: 15px;
}

/*THE BUTTONS*/
.buttonses {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.refresh-word,
.check-word {
    text-transform: uppercase;
    width: calc(100% / 2 - 8px);
    border: none;
    outline: none;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 550;
    background-color: #ffcb03;
    border-radius: 3mm;
}
.check-word {
    background-color: #ffb003; 
}
/*---------------------------------------------------*/
/*THE OUTCOMES STATE*/
/*---------------------------------------------------*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    z-index: 2;
    transition: transform 1s, opacity 1s;
}
.outcome,
.fail {
    position: absolute;
    font-size: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5mm solid black;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 95px;
    background-color: rgb(218, 194, 194);
    opacity: 0.80;
    border-radius: 5px;
    box-shadow: 0 8rem 10rem rgba(51, 28, 28, 0.3);
    z-index: 10;
    width: 38%;
    transition: transform 1s, opacity 1s;
}
.message,
.fail-message {
  color: rgb(16, 14, 14);
  transition: transform 1s, opacity 1s;
}
.again {
    font-weight: 550;
    font-size: 20px;
    opacity: 1;
}
.ok {
    margin-left: 100%;
}
.fa {
    margin-left: 50%;
    width: 100%;
}
.okay,
.try {
    padding: 8px 15px 8px 15px;
    background-color: blue;
    border: none;
    color: white;
    text-transform: uppercase;
}
/*---------------------------------------------------*/
/*THE FOOTER STATE*/
/*---------------------------------------------------*/
footer {
    color: white;
    text-align: center;
    line-height: 1.5;
}
#soft {
    font-size: 20px;
}
#by {
    font-size: 18px;
    font-weight: bold;
}
/*THE HIDDEN CLASS*/
.hidden {
    display: none;
}
